@import 'src/variables.scss';

.programs {
  font-family: 'Montserrat', sans-serif;
  width: 100%;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    margin-top: 20px;
    flex-direction: column;
  }

  .our-programs__types-of-program {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 96%;

    .our-programs__title {
      margin-top: 150px;
      margin-bottom: 100px;
      font-weight: $FWExtraBold;
      color: $primaryColor;
      font-size: 48px;

      @media only screen and (max-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    &:last-child {
      .our-programs__program {
        width: 100%;

        @media only screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
        .our-programs__info {
          width: 50%;

          @media only screen and (max-width: 768px) {
            width: 100%;
            max-width: 100%;

          }

          .our-programs__program_img {
            margin: 0;
            padding: 0;
            width: 100%;
            min-width: 350px;

            @media only screen and (max-width: 768px) {
              margin-bottom: 20px;
              width: 100%;
              max-width: 100%;
              min-width: 100%;
            }
          }
        }
      }
    }

    .our-programs__program {
      margin-bottom: 80px;
      width: 90%;
      max-width: 1500px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;

      @media only screen and (max-width: 768px) {
        max-width: 90%;
        width: 90%;
        margin-bottom: 20px;
        justify-content: center;

        &:nth-child(odd) {
          flex-direction: column-reverse;
        }
      }

      .our-programs__program_img {
        box-sizing: border-box;
        border-radius: 10px;
        width: 730px;
        height: 510px;
        object-fit: cover;
        flex-basis: 55%;

        @media only screen and (max-width: 768px) {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }

      .our-programs__info {
        box-sizing: border-box;
        flex: 1;

        &:nth-child(even) {
          margin-right: 0;
          margin-left: 50px;
        }

        &:nth-child(odd) {
          margin-right: 50px;
          margin-left: 0;
        }

        @media only screen and (max-width: 768px) {
          margin-left: 0;
          margin-right: 0;
          max-width: 100%;
          width: 100%;

          &:nth-child(even) {
            margin-right: 0;
            margin-left: 0;
          }

          &:nth-child(odd) {
            margin-right: 0;
            margin-left: 0;
          }
        }

        .our-programs__info-title {
          font-size: 26px;
          font-weight: $FWExtraBold;
          margin-bottom: 30px;
          color: $primaryColor;

          @media only screen and (max-width: 768px) {
            margin-bottom: 5px;
            margin-top: 0;
          }
        }

        p {
          line-height: 24px;
        }

        .our-programs__info-download-btn {
          font-family: 'Montserrat', sans-serif;
          font-weight: $FWExtraBold;
          font-size: 20px;
          color: $primaryColor;
          border-color: $primaryColor;
          text-transform: none;
          padding: 15px;

          &:hover {
            background-color: $primaryColor;
            color: white;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
            max-width: 100%;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
