body .header {
  background: white;
  box-shadow: none;
  color: black;
  display: flex;
  align-content: center;

  .header__toolbar {
    height: 80px;
    display: flex;
    align-items: center;

  }

  .header__refs {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 1200px;
    height: 100%;

    .header__refs_button {
      color: black;
      flex: 1;

      &:hover {
        font-weight: 800;
      }

      font-family: 'Montserrat', sans-serif;
      font-weight: 400;

      .active-ref {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
      }
    }

    .header__refs_title {
      text-transform: none;
      font-size: 16px;
    }
  }

  .header__logo {
    display: flex;
    justify-content: center;

    img {
      height: 65px;
      width: 65px;
    }
  }
}

@media only screen and (max-width: 768px) {
  body .header {
    .header__toolbar {
      height: 56px;
    }

    .header__refs {
      display: none;
    }

    .header__logo {
      display: none;
    }
  }
}

.all-rights {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
